{% extends 'base.html.twig' %}

{% block title %}Hello SubContinentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>List of Subcontinents</h1>
    <p>Note that all higher location types will also appear in the subcontinent list 
        <table class="table">
             <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>SubContinent</th>
                    <th>Location Type</th>
                </tr>
            </thead>
            <tbody>
            {% for subcontinent in subcontinents %}
                    <tr>
                        <td> {{ subcontinent.id }} </td>
                        <td> <a href= "{{ path('subcontinent_show', {'id': subcontinent.id}) }}">{{ subcontinent.subcontinent}}</td>
                        <td> {{ subcontinent.loctype.loctype}} </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
